//overordnet
html {
  font-size: 62.5%; //1rem=10px
}
//overordnet slut
//header
header {
  display: flex;
  justify-content: space-around;
  img {
    max-height: 9rem;
    width: auto;
  }
}
//header slut
//nav
nav{
  display: flex;
  justify-content: center
}
a {
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  color: #000000;
  font-size: 1.8rem;
  margin: 1.5rem;
}
//indhold
h2 {
  background-color: #00A500;
  color: #f2f2f2;
  font-family: savoye, SansSerif;
  font-size: 2.4rem;
}
h3 {
  color: #bc1825;
  font-size: 1.8rem;
}
p {
  margin: 0px 10px;
  font-size: 1.4rem;
}
#v1 {
  display: flex;
  justify-content: center;
  video {
    max-height: 10rem;
    width: auto;
  }
}
#o_i {
  display: flex;
  justify-content: center;
  img {
    max-height: 40rem;
  }
}
//indhold slut
footer {
  background-color: #00A500;
  img {
    max-height: 5rem;
    width: auto;
    display: inline-flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  //grid
  @supports (grid-area: auto) {
    #grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
            "h h h h h h"
            "nav nav nav nav nav nav"
            ". v1 v1 v1 v1 ."
            "o1 o1 o1 o1 o1 o1"
            ". e_t e_t e_t e_t ."
            ". i1 i1 i1 i1 ."
            "o2 o2 o2 o2 o2 o2"
            ". i2 i2 i2 i2 ."
            ". o_t o_t o_t o_t ."
            ". v2 v2 v2 v2 ."
            "o3 o3 o3 o3 o3 o3";
  }
  //grid slut
  //grid navne
  header {
    grid-area: h;
  }
  nav {
    grid-area: nav;
  }
  #v1 {
    grid-area: v1;
  }
  #o1 {
    grid-area: o1;
  }
  #e_t {
    grid-area: e_t;
  }
  #i1 {
    grid-area: i1;
  }
  #o2 {
    grid-area: o2;
  }
  #i2 {
    grid-area: i2;
  }
  #o_t {
    grid-area: o_t;
  }
  #v2 {
    grid-area: v2;
  }
  #o3 {
    grid-area: o3;
  }
  //gridnavne slut
}
}
